# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Laravel / PHP
vendor/
node_modules/
public/storage
storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.backup
.env.production
auth.json

# OS files
.DS_Store
Thumbs.db
